.tooltip {
  position: absolute;
  pointer-events: none;
  background-color: #ffffff;
  border-radius: 2px;
  padding: 2px 5px;
}

#pref-btn {
  position: absolute;
  right: 200px;
  top: 10px;
}

#canvas {
  position: relative;
}

#icon-cookie {
  color: #ffb27d;
}

#plot-title {
  font-weight: 400;
}
