.modal-content {
    border: none;
}

.tooltip {
  position: absolute;
  pointer-events: none;
  background-color: #ffffff;
  border-radius: 3px;
  padding: 2px 5px;
  font-family: Tahoma, Arial, Helvetica, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", sans-serif;
}

.icon-cookie {
  color: #803A0A;
}

.icon-star {
  color: #FFD92F;
}

#btn-info {
    color: #6C757D;
}
#btn-info:hover {
    color: #5A6268;
    cursor: pointer;
}

#canvas {
  position: relative;
  margin-left: 18px;
  margin-right: 18px;
}

#plot-title {
  font-weight: 400;
}
